<!DOCTYPE HTML>
<html>
<HEAD>
<TITLE>FamilyDay，让一家人团聚</TITLE>
<META name=keywords content=main>
<META name=description content=main>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META content=no-cache http-equiv=Cache-Control>
<meta charset="utf-8">
<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" href="template/js/jquery.mobile-1.3.0-beta.1.min.css " />
<link rel="stylesheet" href="template/css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" href="template/css/jquery-mobile-fluid960.min.css" />
<link rel="stylesheet"  href="template/css/styles.css">
<script type="text/javascript" src="template/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="template/js/jquery.mobile-1.3.0-beta.1.min.js"></script>
<script type="text/javascript" src="template/js/jquery.retina.js"></script>
<script type="text/javascript" src="template/js/jquery.resizecrop-1.0.3.js"></script>
<script type="text/javascript" src="template/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="template/js/util.js"></script>
<script type="text/javascript" src="template/js/jquery.exif.js"></script>
<script type="text/javascript" src="template/js/jquery.canvasResize.js"></script>

<script type="text/javascript">

    function iOSversion() {
      if (/iP(hone|od|ad)/.test(navigator.platform)) {
        // supports iOS 2.0 and later: <http://bit.ly/TJjs1V>
        var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
        return [parseInt(v[1], 10), parseInt(v[2], 10), parseInt(v[3] || 0, 10)];
      }
    }

    


    function pubilchPhoto(picid, message, tags, auth){
            $.ajax({
            dataType: "jsonp",
            url: "http://www.familyday.com.cn/dapi/cp.php?ac=photo&m_auth=" + auth + "&title["+picid+"]=&message=" + message + "&friend=0&come=wx&makefeed=1&photosubmit=1&tags=" + tags,
           
            success: function( data ) {
              /* Get the movies array from the data */

              if(data.error==0){
                data = data.data;
                alert("提交成功，获得了"+data.credit+"点积分");
              }else{
                alert(data.msg);
              }
            }
          });
    }

    function publicBlog(subject, message, tags, auth){
        $.ajax({
            dataType: "jsonp",
            url: "http://www.familyday.com.cn/dapi/cp.php?ac=blog&m_auth=" + auth + "&message=" + message + "&friend=0&come=wx&makefeed=1&blogsubmit=1&tags=" + tags+ "&subject=" + subject,
           
            success: function( data ) {
              /* Get the movies array from the data */

              if(data.error==0){
                data = data.data;
                alert("提交成功，获得了"+data.credit+"点积分");
              }else{
                alert(data.msg);
              }
            }
          });
    }

    function submitBlog(){
        var pattern = /^[\s]{0,}$/g;
        if (!pattern.test($('#message').val())){
            publicBlog($('#subject').val(), $('#message').val(), $('#tagname').val(), $('#auth').val());
        }else{
            alert("至少写一点东西！");
        }
    }
        
    function submitPhoto(){
        var pattern = /^[\s]{0,}$/g;
        if (!pattern.test($('#message').val())){
            pubilchPhoto($('#picid').val(), $('#message').val(), $('#tagname').val(), $('#auth').val());
        }else{
            alert("至少写一点东西！");
        }
    }

	$(function(){
		$('.msg-image').click(function(){
             ver = iOSversion();

            if (ver[0] < 6) {
              alert('ios系统当前仅6.0以上的系统支持上传图片,请更新你的系统');
            }else{
                $('input[name=Filedata]').trigger('click');
            }
        });

        $('input[name=Filedata]').change(function(e){
        	 var file = e.target.files[0];
        	 $('img').remove();
        	 $.canvasResize(file, {
                        width   : 300,
                        height  : 0,
                        crop    : false,
                        quality : 80,
                        callback: function(data, width, height){
                        	// SHOW AS AN IMAGE
                            // =================================================
                            
                            $('<img>').load(function(){ 
                                
                                $(this).appendTo('.msg-image');
                                
                            }).attr('src', data);

                            // /SHOW AS AN IMAGE
                            // =================================================
                            
                            // IMAGE UPLOADING
                            // =================================================
                                
                            // Create a new formdata
                            var fd = new FormData();
                            // Add file data
                            // var f = $.canvasResize('dataURLtoBlob',data);
                            // f.name = file.name;
                            fd.append($('input').attr('name'), file);
                            fd.append("op", "uploadphoto");
                            fd.append("topicid", "0");
                            fd.append("pic_title", "from wx");
                            fd.append("m_auth", $('#auth').val());

                             $.ajax({
                                url        : 'http://www.familyday.com.cn/dapi/cp.php?ac=upload',
                                type       : 'POST',
                                data       : fd,
                                dataType   : 'json',
                                contentType: false,
                                processData: false,
                                beforeSend : function (xhr) {
                                    xhr.setRequestHeader("pragma", "no-cache");
                                },
                                xhr        : function(){
                                    var xhr = new window.XMLHttpRequest();
                                    //Upload progress
                                    xhr.upload.addEventListener("progress", function(e){
                                        if (e.lengthComputable) {
                                            var loaded = Math.ceil((e.loaded / e.total) * 100);
                                            $('#pbar').css({
                                                'width':loaded + "%"
                                            }).html(loaded + "%");
                                        }
                                    }, false);
                                    return xhr;
                                } 
                            }).done(function (response) {
                               
                               
                                if(response.error==0){
                                    // Complete
                                    $("#picid").val(response.data.picid);
                                    console.log(response.data.picid);
                                    $('#pbar').html('done');
                                }else{
                                	alert("上传失败");
                                }
                                
                            });
                           
                                
                            // /IMAGE UPLOADING
                            // =================================================
                            }
                    });  
        });


		$('#select-choice-1').change(function(){
            $('#tagid').val($('#select-choice-1').val());
        });

       

	});
</script>

</html>
<body id="top">
	<div data-role="page" data-theme="a" data-fullscreen="true" id="main">
		<div data-role="header">
			<div class="ui-grid-a header">
                <!--{if $op=="photo"}-->
				<div class="ui-block-a header-menu"><p>发图片</p></div>
                <!--{elseif $op=="blog"}-->
                <div class="ui-block-a header-menu"><p>发日记</p></div>
                <!--{/if}-->
				<div class="ui-block-b"><div class="header-logo"><div><img class="retina" src="template/css/images/family/logo.jpg" height="26"/></div></div></div>
				<div class="ui-block-a header-menu-check"><div class="tri-down"></div></div>
			</div>
		</div>

		<div data-role="content">
			<!--{if $op=="photo"}-->
				<div class="msg-panel">
					<div class="msg group">
						<div class="msg-image">
							<img class="retina" src="image/nophoto.jpg" />
							<p><span style="display: block; padding: 2px 0; width: 0; background: #193; text-align: center;" id="pbar"></span></p>
						</div>
						<div class="msg-content"><textarea placeholder="写点东东吧..." id="message"></textarea></div>
					</div>
				</div>
           
                 <!--{if count($taglist)>0}-->
    				
                    <div data-role="fieldcontain" class="select-btn">
                        <div class="btn-icon">
                            <div class="icon">
                                <img class="retina" src="template/css/images/family/tag.png"></img>
                            </div>
                        </div>
                        <label for="select-choice-0" class="select"></label>
                        <select name="select-choice-0" id="select-choice-1">
                            <!--{loop $taglist $value}-->
                                <option value="$value[tagname]">$value[tagname]</option>
                            <!--{/loop}-->
                        </select>
                    </div>
                <!--{/if}-->

				<div class="publish-btn"><a href="javascript:;" data-role="button" onclick="submitPhoto();">确定</a></div>
                <input type="file" id="Filedata" name="Filedata" accept="image/*" style="display:none;"></div>
            <!--{elseif $op=="blog"}-->
                <div class="msg-panel">
                    <div class="msg group">
                        <div class="msg-content2"><input placeholder="标题" id="subject"></input></div>
                    </div>
                     <div class="msg group">
                        <div class="msg-content2"><textarea placeholder="写点东东吧..." id="message"></textarea></div>
                    </div>
                </div>
                <!--{if count($taglist)>0}-->
                    
                    <div data-role="fieldcontain" class="select-btn">
                        <div class="btn-icon">
                            <div class="icon">
                                <img class="retina" src="template/css/images/family/tag.png"></img>
                            </div>
                        </div>
                        <label for="select-choice-0" class="select"></label>
                        <select name="select-choice-0" id="select-choice-1">
                            <!--{loop $taglist $value}-->
                                <option value="$value[tagname]">$value[tagname]</option>
                            <!--{/loop}-->
                        </select>
                    </div>
                <!--{/if}-->
                <div class="publish-btn"><a href="javascript:;" data-role="button" onclick="submitBlog();">确定</a></div>
            <!--{/if}-->
				
			
		</div>
		
    </div>
    <input type="hidden" id="wxkey" name="wxkey" value="$_GET[wxkey]"/>
	<input type="hidden" id="id" name="id" value="$_GET[id]"/>
	<input type="hidden" id="idtype" name="idtype" value="$_GET[idtype]"/>
	<input type="hidden" id="auth" name="auth" value="$m_auth"/>
	<input type="hidden" id="uid" name="uid" value="$_GET[uid]"/>
	<input type="hidden" id="picid" name="picid" value="0"/>
    <input type="hidden" id="tagname" name="tagname" value="$taglist[0][tagname]"/>
    
</body>
</html>