<!DOCTYPE HTML>
<html>
<HEAD>
<TITLE>FamilyDay，让一家人团聚</TITLE>
<META name=keywords content=main>
<META name=description content=main>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META content=no-cache http-equiv=Cache-Control>
<meta charset="utf-8">
<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" href="template/js/jquery.mobile-1.3.0-beta.1.min.css " />
<link rel="stylesheet" href="template/css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" href="template/css/jquery-mobile-fluid960.min.css" />
<link rel="stylesheet"  href="template/css/styles.css">
<script type="text/javascript" src="template/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="template/js/jquery.mobile-1.3.0-beta.1.min.js"></script>
<script type="text/javascript" src="template/js/jquery.retina.js"></script>
<script type="text/javascript" src="template/js/jquery.resizecrop-1.0.3.js"></script>
<script type="text/javascript" src="template/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="template/js/util.js"></script>

<script type="text/javascript">
	$(function(){
		$('.msg-image').click(function(){
            $('input[name=Filedata]').trigger('click');
        });

        $('input[name=Filedata]').change(function(e){
        	 var file = e.target.files[0];
        	 $('img').remove();
        	 $.canvasResize(file, {
                        width   : 300,
                        height  : 0,
                        crop    : false,
                        quality : 80,
                        callback: function(data, width, height){
                        	// SHOW AS AN IMAGE
                            // =================================================
                            
                            $('<img>').load(function(){ 
                                
                                $(this).appendTo('.msg-image');
                                
                            }).attr('src', data);

                            // /SHOW AS AN IMAGE
                            // =================================================
                            
                            // IMAGE UPLOADING
                            // =================================================
                                
                            // Create a new formdata
                            var fd = new FormData();
                            // Add file data
                            var f = $.canvasResize('dataURLtoBlob',data);
                            f.name = file.name;
                            fd.append($('input').attr('name'), f);
                            fd.append("op", "uploadphoto");
                            fd.append("topicid", "0");
                            fd.append("pic_title", "from wx");
                            fd.append("m_auth", $('#auth').val());

                             $.ajax({
                                url        : '../dapi/cp.php?ac=upload',
                                type       : 'POST',
                                data       : fd,
                                dataType   : 'json',
                                contentType: false,
                                processData: false,
                                beforeSend : function (xhr) {
                                    xhr.setRequestHeader("pragma", "no-cache");
                                },
                                xhr        : function(){
                                    var xhr = new window.XMLHttpRequest();
                                    //Upload progress
                                    xhr.upload.addEventListener("progress", function(e){
                                        if (e.lengthComputable) {
                                            var loaded = Math.ceil((e.loaded / e.total) * 100);
                                            $('#pbar').css({
                                                'width':loaded + "%"
                                            }).html(loaded + "%");
                                        }
                                    }, false);
                                    return xhr;
                                } 
                            }).done(function (response) {
                               
                                console.log(response);
                                if(response.picid){
                                    // Complete
                                    $('#pbar').html('done');
                                }
                                
                            });
                           
                                
                            // /IMAGE UPLOADING
                            // =================================================
                            }
                    });  
        });

	});
</script>

</html>
<body id="top">
	<div data-role="page" data-theme="a" data-fullscreen="true" id="main">
		<div data-role="header">
			<div class="ui-grid-a header">
				<div class="ui-block-a header-menu"><p>发图片</p></div>
				<div class="ui-block-b"><div class="header-logo"><div><img class="retina" src="template/css/images/family/logo.jpg" height="26"/></div></div></div>
				<div class="ui-block-a header-menu-check"><div class="tri-down"></div></div>
			</div>
		</div>

		<div data-role="content">
			
				<div class="msg-panel">
					<div class="msg group">
						<div class="msg-image">
							<img class="retina" src="template/css/images/family/publish-image.jpg" />
							<p><span style="display: block; padding: 2px 0; width: 0; background: #193; text-align: center;" id="pbar"></span></p>
						</div>
						<div class="msg-content"><textarea placeholder="写点东东吧..."></textarea></div>
					</div>
				</div>

				<div class="class-btn"><a data-role="button"  data-theme="a" data-icon="image"/>创意BB杂锦</a></div>
				<div class="publish-btn"><a href="#" data-role="button">确定</a></div>
				<input type="file" id="Filedata" name="Filedata" accept="image/*" style="display:none;"></div>
			
		</div>
		
    </div>
    <input type="hidden" id="wxkey" name="wxkey" value="$_GET[wxkey]"/>
	<input type="hidden" id="id" name="id" value="$_GET[id]"/>
	<input type="hidden" id="idtype" name="idtype" value="$_GET[idtype]"/>
	<input type="hidden" id="auth" name="auth" value="$m_auth"/>
	<input type="hidden" id="uid" name="uid" value="$_GET[uid]"/>
</body>
</html>